* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}

body
{
    background-color: white;
}

h3
{
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-size: 1rem;
}
.contenedor
{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 0 1rem 0;
}

.CLPtoARS
{
    margin-top: 7rem;
}

#formulario
{
    border: 1px solid rgb(183, 213, 228);
    background-color: rgb(183, 213, 228);
    font-size: 0.9rem;
    margin: auto;
    width: 30rem;
    padding: 0.5rem;
    border-radius: 2%;
}

#formulario label
{
    display: inline-block;
    padding: 0.2rem;
}

#formulario button
{
    padding: 0.2rem;
    margin-top: 0.4rem;
    background-color:  rgb(128, 187, 216);
    border-color:  rgb(139, 184, 206);
    color: white;
}